<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <main>
      <header><%- include('./partials/header'); %></header>
      <div class="wrapper">
        <div class="messages-grid">
          <% messages.forEach((message) => { %>
          <div class="message">
            <div class="message-header">
              <% if (!currentUser) { %>
              <h3>Login to See!</h3>
              <% } else { %>
              <h3><%= message.title %></h3>
              <% } %>
            </div>
            <div class="message-body">
              <% if (!currentUser) { %>
              <p>Login To See</p>
              <% } else { %>
              <p><%= message.content %></p>
              <% } %>
            </div>
            <div class="message-footer">
              <% if (!currentUser || !currentUser.memberStatus) { %>
              <span>Become a Member to See!</span>
              <span>Become a Member to See!</span>
              <% } else { %>
              <span><%=message.author %></span>
              <span><%=message.formattedDate %></span>
              <% } %>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <%- include('./partials/footer'); %>
    </main>
  </body>
</html>
