<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <header><%- include('./partials/header'); %></header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= locals.currentUser || "hello" %></p>
    <div>
      <% messages.forEach((message) => { %>
      <div>
        <span> <%= message.title %> </span>
      </div>
      <% }) %>
    </div>
  </body>
</html>
